{% extends 'base.html.twig' %}

{% block title %}Login | Session example{% endblock %}
{% block body %}
	<h1>Login example</h1>
	<div>
		<form method="post" action="middleware/auth/login">
			<p><input type="text" name="username"></p>
			<p><input type="password" name="password"></p>
			<p><button type="submit">Iniciar sesión</button></p>
		</form>
	</div>
{% endblock %}